<div class="d-flex flex-row justify-content-between border-bottom pt-2 text-bg-dark">

  <div class="mb-2 ms-3">
    <h5 class="">Art Market<span></h5>
  </div>

  <div class="mb-2 me-3">
    <%= link_to "Galleries listing", admin_galleries_path, class: 'link-style' %>
  </div>    
  
</div>
