<div class="d-flex flex-row justify-content-around align-items-center border-bottom pt-2 text-bg-dark">

  <div class="mb-2 mx-3">
    <h5 class="">Art Market<span></h5>
  </div>

  <div>
    <%= link_to "Galleries listing", admin_galleries_path, class: '' %>
  </div>    
  
</div>
