<div class="d-flex flex-column align-items-start">
<h1 class="my-5 ms-5">Art Market</h1>

  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% @galleries.each do |gallery| %>
        <%= image_tag gallery.image, height: "300", class: "swiper-slide"  %>
      <% end %>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

</div>
